.container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.item {
  list-style-type: none;
  margin: 10px;
  width: 200px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.item {
  display: flex;
  justify-content: center;
  list-style-type: none;
  width: 200px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  backdrop-filter: blur(25px);
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.2), -10px -10px 40px rgba(0, 0, 0, 0.2);
}
