.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.blockContact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  margin: 5px;
  display: flex;
  justify-content: center;
  color: white;
}

.button {
  display: flex;
  margin: auto;
  margin-bottom: 10px;
  border: transparent;
  background: linear-gradient(90deg, rgba(46, 76, 208, 1) 0%, rgb(165, 121, 207, 1) 100%);
}

.button:focus .button:hover {
  background: linear-gradient(rgb(165, 121, 207, 1) 100%, 90deg, rgba(46, 76, 208, 1) 0%);
}
