.register {
  position: relative;
  width: 350px;
  padding: 30px;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  z-index: 10;
  backdrop-filter: blur(25px);
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.2), -10px -10px 40px rgba(0, 0, 0, 0.2);
}

.register h1 {
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 40px;
  margin-top: 0;
  text-align: center;
}

.register form {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
}

.register form .inputBox {
  width: 100%;
  position: relative;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.register form .inputBox input {
  width: 100%;
  border: none;
  padding: 1rem 2.7rem 1rem 1rem;
  border-radius: 10px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.4);
  width: 280px;
}

.register form .inputBox input::placeholder {
  color: #fff;
  font-size: 0.8rem;
  transition: 0.5s ease;
}

.register form .inputBox input:focus::placeholder {
  opacity: 0;
}

.register form .inputBox input:focus {
  outline: none;
}

.register form button {
  width: 100%;
  border: none;
  padding: 1rem 1rem 1rem 2.7rem;
  border-radius: 10px;
  color: #fff;
  margin-bottom: 30px;
  background-color: #161623;
  border: 1px solid rgba(255, 255, 255, 0.4);
  transition: 0.5s ease;
  cursor: pointer;
  font-weight: 600;
}

.register form button:hover {
  background-color: #111;
}

.text {
  display: flex;
  align-items: center;
}
