.form {
  /* border: 2px solid black; */
  margin-top: 75px;
  padding: 25px;
  height: 45vh;
  width: 80vw;
  border-radius: 20px; /*Rounded corners*/
  background: rgba(0, 0, 0, 0.1); /*Pale grey with heavy transparency*/
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(60px);
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.labelContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  gap: 10px;
}

.input {
  background-color: transparent;
  border: transparent;
  width: 200px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.button {
  margin-top: 15px;
  border: transparent;
  background: linear-gradient(90deg, rgba(46, 76, 208, 1) 0%, rgb(165, 121, 207, 1) 100%);
}

.button:focus .button:hover {
  background: linear-gradient(rgb(165, 121, 207, 1) 100%, 90deg, rgba(46, 76, 208, 1) 0%);
}
